@model List<Animal>
@{
    ViewBag.Title = "Details";
}

<h2>Show Animal</h2>
@if (Model != null && Model.Count != 0)
{
    <div class="row">
        <div class="col-6">
            <img src="@Model[0].Image" alt="image"/>
        </div>
        <div class="col-6">
            @foreach (var e in Model)
            {
                <ul class="list-group">
                    <li class="list-group-item"><strong>ID: </strong>@e.Id</li>
                    <li class="list-group-item"><strong>Name: </strong>@e.Name</li>
                    <li class="list-group-item"><strong>Surname: </strong>@e.Age</li>
                    <li class="list-group-item"><strong>About: </strong>@e.Type</li>
                    <li class="list-group-item"><strong>Age: </strong>@e.Color</li>
                    <li class="list-group-item"><strong>About: </strong>@e.Weight</li>
                    <li class="list-group-item"><strong>Age: </strong>@e.Price</li>
                </ul>
            }
        </div>
    </div>
}
else
{
    <h3>Animals not found</h3>
}